[user]
	email = saschayvesfrey@gmail.com
	name = saschafrey
[credential]
	helper = "!f() { /home/myuser/.vscode-server/bin/488a1f239235055e34e673291fb8d8c810886f81/node /tmp/vscode-remote-containers-5d6ad739-219b-42bb-aac1-f7f8bdfc53d9.js git-credential-helper $*; }; f"
