[user]
	email = saschayvesfrey@gmail.com
	name = saschafrey
[credential]
	helper = "!f() { /home/myuser/.vscode-server/bin/c9d77990917f3102ada88be140d28b038d1dd7c7/node /tmp/vscode-remote-containers-d17a5522-be90-4a53-9580-65baad4c154b.js git-credential-helper $*; }; f"
