jax[cuda12]==0.4.25
autopep8
ipdb
myst-parser
codespell
sphinx-autobuild
isort
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
sphinxcontrib-napoleon
furo
sphinx-copybutton
sphinx-github-changelog
myst-nb
ipykernel
navix
pandas 
numpy<2
scipy 
six 
wheel 
notebook 
matplotlib 
tqdm
jupyter 
ipython 
wandb 
rich 
huggingface_hub 
tyro 
rwkv 
tokenizers 
einops 
transformers
distrax
brax
chex
flax
optax
orbax
jaxopt
gym
gymnax
mujoco
tensorflow-probability
scipy
importlib-resources